footer {
    background-color: #068ef0e1;
    display: block;
    padding-top: 15px;
    height: 180px;
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    img {
        width: 3%;
        height: auto;
        
    }
    .subscribe-form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px; 
        margin: 20px auto; 
        max-width: 400px;
    
        input[type="email"] {
            flex: 1; 
            padding: 10px;
            border: 1px solid #a6d3f3;
            border-radius: 5px 0 0 5px;
            font-size: 16px;
        }
        input[type="submit"] {
            padding: 10px 20px;
            border: none;
            background-color: #045792e1; 
            color: #fff;
            border-radius: 0 5px 5px 0;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        input[type="submit"]:hover {
            background-color: #84bce0;
        }
        input[type="submit"]:hover {
            background-color: #84bce0;
        }
    }
}




