#bodyInicio {
    display: grid;
    grid-template-areas: 
/*          col1        col2        col3*/
/*row1*/    "header     header      header"
/*row2*/    "main       main        main"
/*row3*/    "main       main        main"
/*row4*/    "footer     footer      footer"
    ;
    grid-template-columns:  20% 1fr 20%;
    grid-template-rows: auto 1fr 1fr auto;
    min-height: 100vh;
    column-gap: 5px;
    row-gap: 5px;
    background-color: lightgrey;
}

#header {
    grid-area: header;
}

#main {
    grid-area: main;
}

#footer {
    grid-area: footer;
}


/* inicio*/
.carrusel {
    background-color: lightgrey;
    padding: 20px 0;
    border-radius: 10px
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #a6d3f3;
    width: 40px;
    height: 40px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #f2f2f2;
    border-color: #89c5e8;
}

.carousel-inner {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.carousel-item {
    flex: 0 0 75%;
    margin-left: 20%;
    margin-right: 20%;
    transition: transform 0.5s ease-in-out;
}

.carousel-inner img {
    object-fit: cover; 
    width: 100%; 
    height: 100%; 
    border: 2px solid #ffffff;
    border-radius: 5px;
}


/* GALERIA */


:root {
    --primary-color: #068ef0;
    --secondary-color: #fff;
    --background-light: #f9f9f9;
    --text-color: #333;
    --highlight-color: #e74c3c;
    
    --font-size-title: 32px;
    --font-size-text: 16px;
    --font-size-price: 18px;
    
    --spacing-large: 50px;
    --spacing-medium: 30px;
    --spacing-small: 10px;
    
    --border-radius: 8px;
    --box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    --box-shadow-hover: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.tituloIndex {
    text-align: center;
    font-size: var(--font-size-title);
    font-weight: bold;
    color: var(--secondary-color);
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-medium);
    letter-spacing: 2px;
    background-color: var(--primary-color);
    padding: var(--spacing-small) 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.gallery {
    background-color: var(--secondary-color);
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    width: 100%;
}

.gallery .row {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.gallery .col-12 {
    padding: var(--spacing-small);
    display: flex;
    justify-content: center;
}

.gallery-item {
    text-align: center;
    padding: var(--spacing-small);
    background-color: var(--background-light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow-hover);
}

.gallery img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow-hover);
}

.item-info {
    margin-top: var(--spacing-small);
    padding: var(--spacing-small);
}

.description {
    font-size: var(--font-size-text);
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 5px;
}

.price {
    font-size: var(--font-size-price);
    color: var(--highlight-color);
    font-weight: bold;
}


@media (max-width: 767px) {
    .gallery .col-12 {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .gallery .col-md-4 {
        width: 30%;
    }
}
